In [1]:
import requests
import pandas as pd
import numpy as np
import sys
import urllib.parse
import matplotlib.pyplot as plt

In [6]:
key = "5bb3639a-ef5a-11ed-8b7f-0242ac130002-5bb363fe-ef5a-11ed-8b7f-0242ac130002"
BASE_URL = 'https://api.stormglass.io/v2/'

#latitude and longitude of Montijo
lat = 38.687616
lon = -8.855195

In [7]:
def get_soil_moisture(lat,lon):
    """
    Returns a df with the forecast of soil moisture at the surface, 10cm, 40cm and 100cm of depth
    """
    
    url = urllib.parse.urljoin(BASE_URL,'bio/point')

    response = requests.get(
      url,
      params={
        'lat': lat,
        'lng': lon,
        'params': ','.join(['soilMoisture', 'soilMoisture10cm', 'soilMoisture40cm', 'soilMoisture100cm']),
      },
      headers={
        'Authorization': key
      }
    )
    
    #Getting a pandas df for the response
    #data_df = pd.DataFrame(response.json()['hours'])
    
    
    return response.json()

In [8]:
# Make an API call for Montijo's lat and lon
moisture_json = get_soil_moisture(lat,lon)

# Make a df out of it
moisture_df = pd.DataFrame(moisture_json['hours'])

In [14]:
moisture_df

,soilMoisture,soilMoisture100cm,soilMoisture10cm,soilMoisture40cm,time
0,"{'noaa': 0.07, 'sg': 0.07}","{'noaa': 0.23, 'sg': 0.23}","{'noaa': 0.09, 'sg': 0.09}","{'noaa': 0.09, 'sg': 0.09}",2023-05-13T00:00:00+00:00
1,"{'noaa': 0.07, 'sg': 0.07}","{'noaa': 0.23, 'sg': 0.23}","{'noaa': 0.09, 'sg': 0.09}","{'noaa': 0.09, 'sg': 0.09}",2023-05-13T01:00:00+00:00
2,"{'noaa': 0.07, 'sg': 0.07}","{'noaa': 0.23, 'sg': 0.23}","{'noaa': 0.09, 'sg': 0.09}","{'noaa': 0.09, 'sg': 0.09}",2023-05-13T02:00:00+00:00
3,"{'noaa': 0.07, 'sg': 0.07}","{'noaa': 0.23, 'sg': 0.23}","{'noaa': 0.09, 'sg': 0.09}","{'noaa': 0.09, 'sg': 0.09}",2023-05-13T03:00:00+00:00
4,"{'noaa': 0.07, 'sg': 0.07}","{'noaa': 0.23, 'sg': 0.23}","{'noaa': 0.09, 'sg': 0.09}","{'noaa': 0.09, 'sg': 0.09}",2023-05-13T04:00:00+00:00
...,...,...,...,...,...
236,"{'noaa': 0.07, 'sg': 0.07}","{'noaa': 0.23, 'sg': 0.23}","{'noaa': 0.08, 'sg': 0.08}","{'noaa': 0.08, 'sg': 0.08}",2023-05-22T20:00:00+00:00
237,"{'noaa': 0.07, 'sg': 0.07}","{'noaa': 0.23, 'sg': 0.23}","{'noaa': 0.08, 'sg': 0.08}","{'noaa': 0.08, 'sg': 0.08}",2023-05-22T21:00:00+00:00
238,"{'noaa': 0.07, 'sg': 0.07}","{'noaa': 0.23, 'sg': 0.23}","{'noaa': 0.08, 'sg': 0.08}","{'noaa': 0.08, 'sg': 0.08}",2023-05-22T22:00:00+00:00
239,"{'noaa': 0.07, 'sg': 0.07}","{'noaa': 0.23, 'sg': 0.23}","{'noaa': 0.08, 'sg': 0.08}","{'noaa': 0.08, 'sg': 0.08}",2023-05-22T23:00:00+00:00
240,"{'noaa': 0.07, 'sg': 0.07}","{'noaa': 0.23, 'sg': 0.23}","{'noaa': 0.08, 'sg': 0.08}","{'noaa': 0.08, 'sg': 0.08}",2023-05-23T00:00:00+00:00

As with the wind data, the entries of each parameter are dictionaries that contain the value predicted at different weather institutes. Therefore we'll apply some changes, by transforming these into columns with the respective values e.g. noaaSurface sgSurface will show the correspondent values from the soilMoisture column

In [15]:
moisture_df[['noaaSurface','sgSurface']] = pd.json_normalize(moisture_df['soilMoisture'])

In [16]:
moisture_df

,soilMoisture,soilMoisture100cm,soilMoisture10cm,soilMoisture40cm,time,noaaSurface,sgSurface
0,"{'noaa': 0.07, 'sg': 0.07}","{'noaa': 0.23, 'sg': 0.23}","{'noaa': 0.09, 'sg': 0.09}","{'noaa': 0.09, 'sg': 0.09}",2023-05-13T00:00:00+00:00,0.07,0.07
1,"{'noaa': 0.07, 'sg': 0.07}","{'noaa': 0.23, 'sg': 0.23}","{'noaa': 0.09, 'sg': 0.09}","{'noaa': 0.09, 'sg': 0.09}",2023-05-13T01:00:00+00:00,0.07,0.07
2,"{'noaa': 0.07, 'sg': 0.07}","{'noaa': 0.23, 'sg': 0.23}","{'noaa': 0.09, 'sg': 0.09}","{'noaa': 0.09, 'sg': 0.09}",2023-05-13T02:00:00+00:00,0.07,0.07
3,"{'noaa': 0.07, 'sg': 0.07}","{'noaa': 0.23, 'sg': 0.23}","{'noaa': 0.09, 'sg': 0.09}","{'noaa': 0.09, 'sg': 0.09}",2023-05-13T03:00:00+00:00,0.07,0.07
4,"{'noaa': 0.07, 'sg': 0.07}","{'noaa': 0.23, 'sg': 0.23}","{'noaa': 0.09, 'sg': 0.09}","{'noaa': 0.09, 'sg': 0.09}",2023-05-13T04:00:00+00:00,0.07,0.07
...,...,...,...,...,...,...,...
236,"{'noaa': 0.07, 'sg': 0.07}","{'noaa': 0.23, 'sg': 0.23}","{'noaa': 0.08, 'sg': 0.08}","{'noaa': 0.08, 'sg': 0.08}",2023-05-22T20:00:00+00:00,0.07,0.07
237,"{'noaa': 0.07, 'sg': 0.07}","{'noaa': 0.23, 'sg': 0.23}","{'noaa': 0.08, 'sg': 0.08}","{'noaa': 0.08, 'sg': 0.08}",2023-05-22T21:00:00+00:00,0.07,0.07
238,"{'noaa': 0.07, 'sg': 0.07}","{'noaa': 0.23, 'sg': 0.23}","{'noaa': 0.08, 'sg': 0.08}","{'noaa': 0.08, 'sg': 0.08}",2023-05-22T22:00:00+00:00,0.07,0.07
239,"{'noaa': 0.07, 'sg': 0.07}","{'noaa': 0.23, 'sg': 0.23}","{'noaa': 0.08, 'sg': 0.08}","{'noaa': 0.08, 'sg': 0.08}",2023-05-22T23:00:00+00:00,0.07,0.07
240,"{'noaa': 0.07, 'sg': 0.07}","{'noaa': 0.23, 'sg': 0.23}","{'noaa': 0.08, 'sg': 0.08}","{'noaa': 0.08, 'sg': 0.08}",2023-05-23T00:00:00+00:00,0.07,0.07

Now applying these to the remaining columns:

In [17]:
moisture_df[['noaa10cm','sgSurface10cm']] = pd.json_normalize(moisture_df['soilMoisture10cm'])
moisture_df[['noaa40cm','sgSurface40cm']] = pd.json_normalize(moisture_df['soilMoisture40cm'])
moisture_df[['noaa100cm','sgSurface100cm']] = pd.json_normalize(moisture_df['soilMoisture100cm'])

In [26]:
moisture_df_clean = moisture_df.drop(columns = ['soilMoisture','soilMoisture100cm','soilMoisture10cm','soilMoisture40cm'])

In [27]:
moisture_df_clean

,time,noaaSurface,sgSurface,noaa10cm,sgSurface10cm,noaa40cm,sgSurface40cm,noaa100cm,sgSurface100cm
0,2023-05-13T00:00:00+00:00,0.07,0.07,0.09,0.09,0.09,0.09,0.23,0.23
1,2023-05-13T01:00:00+00:00,0.07,0.07,0.09,0.09,0.09,0.09,0.23,0.23
2,2023-05-13T02:00:00+00:00,0.07,0.07,0.09,0.09,0.09,0.09,0.23,0.23
3,2023-05-13T03:00:00+00:00,0.07,0.07,0.09,0.09,0.09,0.09,0.23,0.23
4,2023-05-13T04:00:00+00:00,0.07,0.07,0.09,0.09,0.09,0.09,0.23,0.23
...,...,...,...,...,...,...,...,...,...
236,2023-05-22T20:00:00+00:00,0.07,0.07,0.08,0.08,0.08,0.08,0.23,0.23
237,2023-05-22T21:00:00+00:00,0.07,0.07,0.08,0.08,0.08,0.08,0.23,0.23
238,2023-05-22T22:00:00+00:00,0.07,0.07,0.08,0.08,0.08,0.08,0.23,0.23
239,2023-05-22T23:00:00+00:00,0.07,0.07,0.08,0.08,0.08,0.08,0.23,0.23
240,2023-05-23T00:00:00+00:00,0.07,0.07,0.08,0.08,0.08,0.08,0.23,0.23

In [28]:
moisture_df_clean.describe()

,noaaSurface,sgSurface,noaa10cm,sgSurface10cm,noaa40cm,sgSurface40cm,noaa100cm,sgSurface100cm
count,241.000000,241.000000,241.000000,241.000000,241.000000,241.000000,2.410000e+02,2.410000e+02
mean,0.069419,0.069419,0.083568,0.083568,0.085394,0.085394,2.300000e-01,2.300000e-01
std,0.007222,0.007222,0.004801,0.004801,0.004995,0.004995,2.781334e-17,2.781334e-17
min,0.060000,0.060000,0.080000,0.080000,0.080000,0.080000,2.300000e-01,2.300000e-01
25%,0.060000,0.060000,0.080000,0.080000,0.080000,0.080000,2.300000e-01,2.300000e-01
50%,0.070000,0.070000,0.080000,0.080000,0.090000,0.090000,2.300000e-01,2.300000e-01
75%,0.070000,0.070000,0.090000,0.090000,0.090000,0.090000,2.300000e-01,2.300000e-01
max,0.080000,0.080000,0.090000,0.090000,0.090000,0.090000,2.300000e-01,2.300000e-01

noaa and sg produced